
<% if @flow_entries_error[0] %>
  <div class="ui blue inverted center aligned segment">
    <p>
      <%= @flow_entries_error[1] %>
    </p>
  </div>
  <div class="shadow">
    <%= image_tag("alfred.png", class: "alfred", width: '100%') %>
  </div>
<% else %>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Activité</th>
        <th>Etat theorique</th>
        <th>Categorie</th>
        <th>Niveau de défi</th>
        <th>Niveau de compétences</th>
        <th>Compétent</th>
        <th>Absorbé</th>
        <th>Objectifs clairs</th>
        <th>Controle</th>
        <th>Libre de l'ego</th>
        <th>Libre du temps</th>
        <th>Conditions réussite/échec claires</th>
        <th>Expérience enrichissante</th>
        <th>De mon initiative</th>
        <th>Niveau energie</th>
        <th>Niveau de bonheur</th>
        <th>Ambiance sociale</th>
      </tr>
    </thead>
    <tbody>
  		<% @flow_entries.each do |flow_entry| %>
      	<tr>
  				<td><%= flow_entry.created_at.to_formatted_s(:short)  %></td>
  				<td><%= flow_entry.activity_name %></td>
  				<td style="background-color: <%= bg_for_state(flow_entry.theorical_state) %>"><%= flow_entry.theorical_state %></td>
  				<td><%= flow_entry.activity_category %></td>
  				<td style="background-color: <%= bg_for_feelings(flow_entry.challenge_level + 1) %>"><%= flow_entry.challenge_level + 1 %></td>
  				<td style="background-color: <%= bg_for_feelings(flow_entry.skill_level + 1) %>"><%= flow_entry.skill_level + 1 %></td>
  				<td style="background-color: <%= bg_for_feelings(flow_entry.feeling_competent) %>"><%= flow_entry.feeling_competent %></td>
  				<td style="background-color: <%= bg_for_feelings(flow_entry.mentally_absorbed) %>"><%= flow_entry.mentally_absorbed %></td>
  				<td style="background-color: <%= bg_for_feelings(flow_entry.clear_objectives) %>"><%= flow_entry.clear_objectives %></td>
  				<td style="background-color: <%= bg_for_feelings(flow_entry.control_situation) %>"><%= flow_entry.control_situation %></td>
  				<td style="background-color: <%= bg_for_feelings(flow_entry.free_from_ego) %>"><%= flow_entry.free_from_ego %></td>
  				<td style="background-color: <%= bg_for_feelings(flow_entry.free_from_time) %>"><%= flow_entry.free_from_time %></td>
  				<td style="background-color: <%= bg_for_feelings(flow_entry.clear_conditions) %>"><%= flow_entry.clear_conditions %></td>
  				<td style="background-color: <%= bg_for_feelings(flow_entry.great_experience) %>"><%= flow_entry.great_experience %></td>
  				<td style="background-color: <%= bg_for_bool(flow_entry.is_voluntary?) %>"><%= flow_entry.is_voluntary? ? "Oui" : "Non" %></td>
          <td style="background-color: <%= bg_for_feelings(flow_entry.energy / 2) %>"><%= flow_entry.energy %></td>
  				<td style="background-color: <%= bg_for_feelings(flow_entry.happiness / 2) %>"><%= flow_entry.happiness %></td>
  				<td style="background-color: <%= bg_for_feelings(flow_entry.social) %>"><%= flow_entry.social %></td>
  			</tr>
  		<% end %>
    </tbody>
  </table>
<% end %>
