<% if flash[:error] || flash[:info] %>
  <div class="shadow">
    <%= image_tag("alfred.png", class: "alfred", width: '100%') %>
  </div>
<% else %>
  <% if @private_mode %>
    <%= link_to 'Public modo', flow_entries_path(:id => @user.private_id) %>
  <% else %>
    <%= link_to 'Private modo', flow_entries_path(:id => @user.private_id, "private_mode" => "true") %>
  <% end %>
  <% @flow_entries_by_day.each do |flow_entries_of_day| %>
    <h2 class="ui header"><%= flow_entries_of_day[0].to_formatted_s(:rfc822) %></h2>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Activité</th>
          <th>Etat theorique (defi/competences)</th>
          <th>Potentiel de flow (moy ressentis)</th>
          <th>Categorie</th>
          <th>Niveau de défi</th>
          <th>Niveau de compétences</th>
          <th>Compétent</th>
          <th>Absorbé</th>
          <th>Objectifs clairs</th>
          <th>Controle</th>
          <th>Libre de l'ego</th>
          <th>Libre du temps</th>
          <th>Conditions réussite/échec claires</th>
          <th>Expérience enrichissante</th>
          <th>De mon initiative</th>
          <th>Niveau energie</th>
          <th>Niveau de bonheur</th>
          <th>Ambiance sociale</th>
        </tr>
      </thead>
      <tbody>
        <% flow_entries_of_day[1].each do |flow_entry| %>
        	<tr style="color: #424242">
    				<td><%= flow_entry.created_at.to_formatted_s(:short)  %></td>
    				<td class="<%= @private_mode ? "blurred" : "" %>"><%= flow_entry.activity_name %></td>
    				<td style="background-color: <%= bg_for_state(flow_entry.theorical_state) %>"><%= flow_entry.theorical_state %></td>
            <td><%= flow_entry.flow_potential/10 %> / 10</td>
            <td><%= flow_entry.activity_category %></td>
    				<td style="background-color: <%= bg_for_feelings(flow_entry.skill_level + 1) %>"><%= flow_entry.skill_level + 1 %> / 5</td>
    				<td style="background-color: <%= bg_for_feelings(flow_entry.challenge_level + 1) %>"><%= flow_entry.challenge_level + 1 %> / 5</td>
    				<td style="background-color: <%= bg_for_feelings(flow_entry.feeling_competent) %>"><%= flow_entry.feeling_competent %> / 5</td>
    				<td style="background-color: <%= bg_for_feelings(flow_entry.mentally_absorbed) %>"><%= flow_entry.mentally_absorbed %> / 5</td>
    				<td style="background-color: <%= bg_for_feelings(flow_entry.clear_objectives) %>"><%= flow_entry.clear_objectives %> / 5</td>
    				<td style="background-color: <%= bg_for_feelings(flow_entry.control_situation) %>"><%= flow_entry.control_situation %> / 5</td>
    				<td style="background-color: <%= bg_for_feelings(flow_entry.free_from_ego) %>"><%= flow_entry.free_from_ego %> / 5</td>
    				<td style="background-color: <%= bg_for_feelings(flow_entry.free_from_time) %>"><%= flow_entry.free_from_time %> / 5</td>
    				<td style="background-color: <%= bg_for_feelings(flow_entry.clear_conditions) %>"><%= flow_entry.clear_conditions %> / 5</td>
    				<td style="background-color: <%= bg_for_feelings(flow_entry.great_experience) %>"><%= flow_entry.great_experience %> / 5</td>
    				<td style="background-color: <%= bg_for_bool(flow_entry.is_voluntary?) %>"><%= flow_entry.is_voluntary? ? "Oui" : "Non" %></td>
            <td style="background-color: <%= bg_for_feelings_ten(flow_entry.energy) %>"><%= flow_entry.energy %> <%= " / 10" if flow_entry.energy %></td>
    				<td style="background-color: <%= bg_for_feelings_ten(flow_entry.happiness) %>"><%= flow_entry.happiness %>  <%= " / 10" if flow_entry.happiness %></td>
    				<td style="background-color: <%= bg_for_feelings(flow_entry.social) %>"><%= flow_entry.social %> <%= " / 5" if flow_entry.social %></td>
    			</tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
